/* header */
header {
    color: white;
    background-color: rgb(56, 56, 58);
    text-align: center;
    padding-top: 2rem;
}

/* search aside */
.city-sidebar {
    background-color: rgb(235, 239, 243);
    padding: 0.5rem 1rem 1.5rem 1rem;
}

label {
    font-size: 1.75rem;
}

input {
    border-radius: 0.35rem;
    border-style: solid;
    border-width: 0.05rem;
    border-color: rgb(204, 207, 209);
    float: left;
    width: 67%;
    margin-bottom: 0;
}

button {
    float: left;
    padding: 0;
    margin: 0;
    border-radius: 0.35rem;
    border-style: solid;
    border-width: 0.05rem;
    border-color: rgb(204, 207, 209);
    color: white;
    position: relative;
    width: 3.75rem;
    height: 3.75rem;
    background-color: rgb(0, 104, 240);
}

.city-history-div {
    clear: both;
    padding-top: 1.5rem;
}

.city-history {
    background-color: white;
    margin-bottom: 0;
    padding: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.35rem;
    border-style: solid;
    border-width: 0.05rem;
    border-color: rgb(204, 207, 209);
}

/* City Weather Forecast */
.city-weather-div {
    margin-top: 2rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(213, 218, 221);
    border-radius: 0.5rem;
    padding: 0rem 1.5rem 3rem 1.5rem;
}

.city-weather-div p {
    padding: 1rem 0rem 1rem 0rem;
    margin: 0;
}

.uv-div {
    margin-top: 1rem;
}

h6 {
    font-weight: 550;
    font-size: 2.5rem;
}

#dateDisplay, #cityDisplay {
    display: inline;
}

.weather-icon {
    position: relative;
    width: 6rem;
    top: 2rem;
}

#uv, #uvIndex {
    display: inline;
}

/* five day forecast */
.five-day-forecast {
    margin-top: 2rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(213, 218, 221);
    border-radius: 0.5rem;
    padding: 0rem 1.5rem 3rem 1.5rem;
}

/* hidden class */
.hidden {
    display: none;
}