body {
    background-color: rgb(231, 232, 233)
}

/* header */
header {
    color: white;
    background-color: rgb(42, 42, 42);
    text-align: center;
    padding-top: 2rem;
}

/* search aside */
.city-sidebar {
    padding-top: 0.65rem;
}

label {
    font-size: 1.75rem;
}

input {
    border-radius: 0.35rem;
    border-style: solid;
    border-width: 0.05rem;
    border-color: rgb(204, 207, 209);
    float: left;
    width: 67%;
    margin-bottom: 0;
}

button {
    float: left;
    padding: 0;
    margin: 0;
    border-radius: 0.35rem;
    border-style: solid;
    border-width: 0.05rem;
    border-color: rgb(204, 207, 209);
    color: white;
    position: relative;
    width: 3.75rem;
    height: 3.75rem;
    background-color:  rgb(15, 119, 255);
}

.city-history-div {
    clear: both;
    padding-top: 1.5rem;
}

.city-history {
    background-color: white;
    margin-bottom: 0;
    padding-left: 0.95rem;
    padding-top: 0.95rem;
    padding-bottom: 1rem;
    border-radius: 0.35rem;
    border-style: solid;
    border-width: 0.05rem;
    border-color: rgb(204, 207, 209);
}

/* City Weather Forecast */
.city-weather-div {
    position: relative;
    background-color: white;
    margin-top: 2rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(213, 218, 221);
    border-radius: 0.5rem;
    padding: 0rem 0rem 2.5rem 0rem;
}

.city-weather-div p {
    padding: 1rem 0rem 1rem 0rem;
    margin: 0;
    clear: both;
    padding-left: 8rem;
    font-size: 1.75rem;
}

#temp {
    border-top: solid;
    border-width: 0.1rem;
    border-color: rgb(213, 218, 221);
    padding-top: 2.5rem;
}

#uv {
    margin-top: 0rem;
}

h6 {
    font-weight: 550;
    font-size: 2.5rem;
}

#cityDateDisplay {
    position: relative;
    padding-left: 8rem;
    float: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0rem;
}

.weather-icon {
    display: block;
    float: left;
    clear: both;
    position: absolute;
    width: 6rem;
    top: 0rem;
    left: 0rem;
    border-bottom: solid;
    border-right: solid;
    border-width: 0.1rem;
    border-color: rgb(213, 218, 221);
}

/* five day forecast */
.five-day-forecast {
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-color: white;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(213, 218, 221);
    border-radius: 0.5rem;
}

#fiveDayForecast {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 8rem;
    margin-bottom: 0rem;
    border-bottom: solid;
    border-width: 0.1rem;
    border-color: rgb(213, 218, 221);
}

.days-wrapper {
    position: relative;
    padding-left: 8rem;
    padding-top: 1rem;
}

.forecast {
    background-color:  rgb(15, 119, 255);
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    border-color: rgb(0, 104, 240);
    color: white;
    width: 13.5rem;
    text-align: center;
    padding: 2rem 0.4rem 2rem 0.4rem;
    float: left;
    margin: 2.5rem 1.5rem 4rem 0;
}

#forecast5 {
    margin-right: 0;
}

.fore-icon {
    width: 6rem;
}

.day {
    font-size: 1.75rem;
    margin-bottom: 0;
}

.foreTemp, .foreHumid {
    margin-bottom: 0;
    font-size: 1.5rem;
}

/* hidden class */
.hidden {
    display: none;
}

/* uv index color codes */
.red {
    color: white;
    background-color: rgb(187, 0, 0);
    border: solid;
    border-width: 0.05rem;
    border-radius: 0.5rem;
    border-color:  rgb(141, 0, 0);
    padding: 0.25rem 0.6rem;
}

.orange {
    color: white;
    background-color: rgb(248, 99, 0);
    border: solid;
    border-width: 0.05rem;
    border-radius: 0.5rem;
    border-color:  rgb(211, 95, 0);
    padding: 0.25rem 0.6rem;
}

.yellow {
    color: black;
    background-color: rgb(255, 222, 115);
    border: solid;
    border-width: 0.05rem;
    border-radius: 0.5rem;
    border-color:  rgb(255, 188, 100);
    padding: 0.25rem 0.6rem;
}

.green {
    color: white;
    background-color: rgb(2, 175, 46);
    border: solid;
    border-width: 0.05rem;
    border-radius: 0.5rem;
    border-color: rgb(0, 138, 34);
    padding: 0.25rem 0.6rem;
}